<div ng-if="eventIdIsInvalid">
  <div class="page-header">
    <h1>Pagina niet gevonden</h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>Deze pagina kon niet gevonden worden.</p>
    </div>
  </div>
</div>

<div ng-if="event">
  <div class="page-header">
    <h1>{{event.name}}</h1>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="tab in tabs" class="{{classForTab(tab)}}" role="tab">
          <a href="#{{tab.id}}" role="tab" ng-bind="tab.header"></a>
        </li>
      </ul>
    </div>

    <div class="col-xs-9">
      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('data')">
        <div class="panel panel-default">
          <table class="table">
            <colgroup>
              <col style="width:20%"/>
              <col style="width:80%"/>
            </colgroup>
            <tbody>
            <tr>
              <td><strong>Titel</strong></td>
              <td>{{event.name}}</td>
            </tr>
            <tr>
              <td><strong>Type</strong></td>
              <td>{{event.type.label}}</td>
            </tr>
            <tr>
              <td><strong>Beschrijving</strong></td>
              <td ng-bind-html="event.description"></td>
            </tr>
            <tr>
              <td><strong>Waar</strong></td>
              <td>{{eventLocation(event)}}</td>
            </tr>
            <tr>
              <td><strong>Wanneer</strong></td>
              <td>{{event.calendarSummary}}</td>
            </tr>
            <tr ng-class="{muted: !event.organizer}">
              <td><strong>Organisator</strong></td>
              <td>{{event.organizer.name}}</td>
            </tr>
            <!--<tr>
              <td><strong>Prijs</strong></td>
              <td></td>
            </tr>-->
            <tr ng-class="{muted: !event.typicalAgeRange}">
              <td><strong>Geschikt voor</strong></td>
              <td>
                <span ng-if="event.typicalAgeRange">{{event.typicalAgeRange}}</span>
                <span ng-if="!event.typicalAgeRange">Geen leeftijdsinformatie</span>
              </td>
            </tr>
            <tr ng-class="{muted: !event.image}">
              <td><strong>Afbeelding</strong></td>
              <td>
                <img ng-if="event.image" src="{{event.image}}?maxwidth=400&maxheight=300"/>
                <span ng-if="!event.image">Geen afbeelding</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" ng-show="isTabActive('history')">
        <div class="timeline">
          <dl ng-repeat="eventAction in eventHistory track by $index">
            <dt ng-bind="eventAction.date | date:'dd/MM/yyyy H:mm'"></dt>
            <dd>
                <span class="author" ng-if="eventAction.author">{{eventAction.author}}</span><br ng-if="eventAction.author"/>
                <span class="description">{{eventAction.description}}</span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('publication')">
        <div class="panel panel-default">
          <table class="table">
            <colgroup>
              <col style="width:20%"/>
              <col style="width:80%"/>
            </colgroup>
            <tbody>
            <tr ng-class="{muted: !event.available}">
              <td><strong>Publicatiedatum</strong></td>
              <td>
                <span ng-if="event.available"
                      ng-bind="event.available | date: 'dd/MM/yyyy'">
                </span>
                <span ng-if="!event.available">
                    Geen publicatiedatum
                </span>
              </td>
            </tr>
            <tr>
              <td><strong>ID</strong></td>
              <td>
                <ul>
                  <li ng-repeat="id in eventIds(event)" ng-switch="isUrl(id)">
                    <a ng-switch-when="true" ng-href="{{id}}" ng-bind="id"></a>
                    <span ng-switch-when="false" ng-bind="id"></span>
                  </li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane" role="tabpanel" ng-show="isTabActive('omd')">
        <div class="panel panel-default">
          <table class="table">
            <tbody><tr>
                <td><strong>Deelname</strong></td>
                <td>
                  {{ event.omdParticipation }}
                </td>
              </tr>
              <tr>
                <td><strong>Categorieën</strong></td>
                <td>
                  {{ event.categories }}
                </td>
              </tr>
              <tr>
                <td><strong>Gratis brochure</strong></td>
                <td>
                  {{ event.freeBrochure }}
                </td>
              </tr>
            </tbody></table>
        </div>
      </div>

    </div>
  </div>
</div>
