<div ng-controller="EventFormStep1Ctrl as EventFormStep1">
  <a name="wat"></a>
  <section id="wat">
    <section class="row">
      <div class="col-md-12">
        <h2 class="title-border"><span class="number">1</span> Wat wil je toevoegen?</h2>
      </div>
    </section>

    <div class="row">

      <div class="col-xs-12" ng-class="eventSelectionClass" ng-show="showEventSelection">
        <label class="event-type-choser-label">Een activiteit of evenement</label>
        <ul class="list-inline" id="step1-events">
          <li ng-repeat="eventTypeLabel in eventTypeLabels" ng-show="eventTypeLabel.primary === true || showAllEventTypes">
            <button ng-bind="eventTypeLabel.label" class="btn btn-default" ng-click="setEventType(eventTypeLabel.id, eventTypeLabel.label, true)"></button>
          </li>
        </ul>
        <p ng-hide="showAllEventTypes">
          Niet gevonden wat je zocht? <a href="" ng-click="toggleEventTypes()">Toon alle mogelijkheden</a>
        </p>
      </div>

      <div class="col-xs-1 col-xs-12" ng-show="showEventSelection && showPlaceSelection">
        <p class="text-center">of</p>
      </div>

      <div ng-class="placeSelectionClass" ng-show="showPlaceSelection">
        <label class="event-type-choser-label">Een locatie of plaats</label>
        <ul class="list-inline" id="step1-places">
          <li ng-repeat="placeLabel in placeLabels" ng-show="placeLabel.primary == true || showAllPlaces">
            <button ng-bind="placeLabel.label" class="btn btn-default" ng-click="setEventType(placeLabel.id, placeLabel.label, false)"></button>
          </li>
        </ul>
        <p ng-hide="showAllPlaces">
          Niet gevonden wat je zocht? <a href="" ng-click="togglePlaces()">Toon alle mogelijkheden</a>
        </p>
      </div>

      <p class="col-xs-12 col-md-12" ng-hide="activeEventType === ''">
        <span class="btn-chosen" ng-bind="activeEventTypeLabel"></span>
        <a class="btn btn-link btn-default" href="" ng-click="resetEventType()">Wijzigen</a>
      </p>

      <div class="col-xs-12" ng-show="canRefine">
        <label class="event-theme-label" ng-show="eventThemeLabels.length">Verfijn</label>
        <ul class="list-inline" id="step2-list">
          <li ng-repeat="eventThemeLabel in eventThemeLabels">
            <button ng-bind="eventThemeLabel.label" class="btn btn-default" ng-click="setTheme(eventThemeLabel.id, eventThemeLabel.label)"></button>
          </li>
        </ul>
      </div>

      <p class="col-xs-12 col-md-12"  ng-hide="activeTheme === ''">
        <span class="btn-chosen" ng-bind="activeThemeLabel"></span>
        <a class="btn btn-link btn-default" href="" ng-click="resetTheme()">Wijzigen</a>
      </p>

    </div>

  </section>

</div>