<a name="wanneer"></a>
<section id="wanneer" ng-show="showStep2">
  <h2 class="title-border">
    <span class="number">2</span>
    <span ng-show="isEvent">Wanneer vindt dit evenement of deze activiteit plaats?</span>
    <span ng-show="isPlace">Wanneer is deze plaats of locatie open?</span>
  </h2>

  <div ng-bind="item.calendar.type"></div>

  <div ng-switch="item.calendar.type">
    <div ng-switch-when="timestamps">
      <div class="row rv-item" ng-repeat="timestamp in item.calendar.timestamps">
        <div ng-bind="timestamp.date"></div>
      </div>
    </div>
  </div>

  <a href="#" ng-click="showStep(3)">Volgende stap</a>

</section>