<div ng-controller="EventFormStep3Ctrl as EventFormStep3">

<section id="waar" ng-show="eventFormData.showStep3">
  <form name="step3Form" class="css-form">
    <h2 class="title-border">
      <span class="number">3</span>
      <span ng-show="eventFormData.isEvent">Waar vindt dit evenement of deze activiteit plaats?</span>
      <span ng-show="eventFormData.isPlace">Waar is deze plaats of locatie?</span>
    </h2>

    <div class="row">
      <div class="col-xs-12">
        <label for="gemeente-autocomplete" id="gemeente-label" ng-hide="selectedCity !== ''">Kies een gemeente <i class="fa fa-circle-o-notch fa-spin" ng-show="searchingCities"></i></label>
        <div id="gemeente-kiezer" ng-hide="selectedCity !== ''">
          <span style="position: relative; display: inline-block; direction: ltr;" class="twitter-typeahead">
            <input type="text"
                   class="form-control typeahead"
                   placeholder="Gemeente of postcode"
                   ng-model="cityAutocompleteTextField"
                   typeahead="city.cityId as city.cityLabel for city in getCities($viewValue)"
                   typeahead-on-select="selectCity($item, $model, $label)"
                   typeahead-min-length="3">
          </span>
          <div class="alert alert-danger" ng-show="cityAutoCompleteError">
            <span class="help-block">Er was een probleem tijdens het ophalen van de steden</span>
          </div>
        </div>
        <div id="gemeente-gekozen" ng-show="selectedCity !== ''">
          <span class="btn-chosen" id="gemeente-gekozen-button" ng-bind="selectedCity"></span>
          <a href="" class="btn btn-default btn-link" ng-click="changeCitySelection()">Wijzigen</a>
        </div>
      </div>
    </div>

    <div id="waar-evenement" ng-show="eventFormData.isEvent && selectedCity !== ''">
      <div class="row">
        <div class="col-xs-12">
          <label id="locatie-label" ng-show="selectedLocation === ''">Kies een locatie <i class="fa fa-circle-o-notch fa-spin" ng-show="searchingLocation"></i></label>
          <div id="locatie-kiezer" ng-show="selectedLocation === ''">
            <span style="position: relative; display: inline-block; direction: ltr;" class="twitter-typeahead">
              <input type="text"
                     placeholder="Locatie"
                     class="form-control typeahead"
                     ng-model="locationAutocompleteTextField"
                     typeahead="location.id as location.title for location in getLocations($viewValue)"
                     typeahead-on-select="selectLocation($item, $model, $label)"
                     typeahead-min-length="3" />
              <div class="plaats-adres-resultaat dropdown-menu-no-results" ng-show="locationsForCity.length === 0 && locationsSearched">
                <p class="text-center">
                  Locatie niet gevonden?<br />
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#waar-locatie-toevoegen" ng-click="openPlaceModal()">Een locatie toevoegen</button>
                </p>
              </div>
            </span>
            <div class="alert alert-danger" ng-show="locationAutoCompleteError">
              <span class="help-block">Er was een probleem tijdens het ophalen van de locaties</span>
            </div>
          </div>
          <div id="locatie-gekozen" ng-show="selectedLocation !== ''" >
            <span class=" btn-chosen" id="locatie-gekozen-button" ng-bind="selectedLocation"></span>
            <button type="button" class="btn btn-default btn-link" data-toggle="modal" data-target="#waar-locatie-toevoegen" ng-click="changeLocationSelection()">Wijzigen</button>
          </div>
        </div>
      </div>


    </div>

    <div id="waar-plaats" ng-show="eventFormData.isPlace && selectedCity !== ''">
      <div class="plaats-adres-ingeven" ng-hide="selectedLocation !== ''" >
        <div class="row">
          <div class="col-xs-8 col-lg-4">
            <div class="form-group" ng-class="{'has-error' : showValidation && step3Form.street.$error.required }">
              <label>Straat</label>
              <input class="form-control" id="straat" name="street" placeholder="" type="text" ng-model="eventFormData.placeStreet" required>
              <span class="help-block" ng-show="showValidation && step3Form.street.$error.required">Straat is een verplicht veld.</span>
              <span class="help-block" ng-show="showValidation && step3Form.number.$error.required">Nummer is een verplicht veld.</span>
            </div>
          </div>
          <div class="col-xs-4 col-lg-2">
            <div class="form-group" ng-class="{'has-error' : showValidation && step3Form.number.$error.required }">
              <label>Nummer</label>
              <input class="form-control waar-plaats-nummer" id="nummer" name="number" placeholder="" type="text" ng-model="eventFormData.placeNumber" required>
            </div>
          </div>
        </div>
        <a class="btn btn-primary plaats-ok" ng-click="validatePlace()">OK</a>
      </div>

      <div class="plaats-adres-resultaat" ng-show="selectedLocation !== ''">
        <p>
          <span class="btn-chosen" ng-bind="selectedLocation"></span>
          <a class="btn btn-link plaats-adres-wijzigen" ng-click="changeStreetAddress()">Wijzigen</a>
        </p>
      </div>

    </div>

  </form>
</section>

</div>