<div ng-controller="EventFormStep1Controller as EventFormStep1">
  <a name="wat"></a>
  <section id="wat">
    <section class="row">
      <div class="col-md-12">
        <h2 class="title-border"><span class="number">1</span> Wat wil je toevoegen?</h2>
      </div>
    </section>

    <div class="row" ng-show="!activeEventType">
      <div ng-class="splitTypes ? 'col-xs-6': 'col-xs-12'"
           ng-show="splitTypes || eventFormData.getType() === 'event'">
        <label class="event-type-choser-label">Een activiteit of evenement</label>
        <ul class="list-inline" id="step1-events">
          <li ng-repeat="eventType in ::eventTypeLabels" ng-show="eventType.primary === true || showAllEventTypes">
            <button ng-bind="::eventType.label" class="btn btn-default"
                    ng-click="setEventType(eventType, true)"></button>
          </li>
        </ul>
        <p ng-hide="showAllEventTypes">
          Niet gevonden wat je zocht? <a href="" ng-click="toggleEventTypes()">Toon alle mogelijkheden</a>
        </p>
      </div>

      <div class="col-xs-1 col-xs-12" ng-show="splitTypes">
        <p class="text-center">of</p>
      </div>

      <div ng-class="splitTypes ? 'col-xs-5': 'col-xs-12'"
           ng-show="splitTypes || eventFormData.getType() === 'place'">
        <label class="event-type-choser-label">Een locatie of plaats</label>
        <ul class="list-inline" id="step1-places">
          <li ng-repeat="placeType in ::placeLabels" ng-show="placeType.primary == true || showAllPlaces">
            <button ng-bind="::placeType.label" class="btn btn-default"
                    ng-click="setEventType(placeType, false)"></button>
          </li>
        </ul>
        <p ng-hide="showAllPlaces">
          Niet gevonden wat je zocht? <a href="" ng-click="togglePlaces()">Toon alle mogelijkheden</a>
        </p>
      </div>
    </div>

    <div class="row">
      <p class="col-xs-12 col-md-12" ng-hide="activeEventType === ''">
        <span class="btn-chosen" ng-bind="activeEventTypeLabel"></span>
        <a class="btn btn-link btn-default" href="" ng-click="resetEventType()">Wijzigen</a>
      </p>

      <div class="col-xs-12" ng-if="canRefine">
        <label class="event-theme-label" ng-show="eventThemeLabels.length">Verfijn</label>
        <ul class="list-inline" id="step2-list">
          <li ng-repeat="eventTheme in ::eventThemeLabels">
            <button ng-bind="::eventTheme.label" class="btn btn-default"
                    ng-click="setTheme(eventTheme)"></button>
          </li>
        </ul>
      </div>

      <p class="col-xs-12 col-md-12"  ng-hide="activeTheme === ''">
        <span class="btn-chosen" ng-bind="activeThemeLabel"></span>
        <a class="btn btn-link btn-default" href="" ng-click="resetTheme()">Wijzigen</a>
      </p>
    </div>

  </section>

</div>
