<div ng-controller="EventFormStep3Controller as EventFormStep3">

<section id="waar" ng-show="eventFormData.showStep3">
  <form name="step3Form" class="css-form">
    <h2 class="title-border">
      <span class="number">3</span>
      <span ng-show="eventFormData.isEvent">Waar vindt dit evenement of deze activiteit plaats?</span>
      <span ng-show="eventFormData.isPlace">Waar is deze plaats of locatie?</span>
    </h2>

    <div class="row">
      <div class="col-xs-12">
        <label for="gemeente-autocomplete" id="gemeente-label" ng-hide="selectedCity !== ''">Kies een gemeente</label>
        <div id="gemeente-kiezer" ng-hide="selectedCity !== ''">
          <span style="position: relative; display: inline-block; direction: ltr;" class="twitter-typeahead">
            <input type="text"
                   id="gemeente-autocomplete"
                   class="form-control uib-typeahead"
                   placeholder="Gemeente of postcode"
                   ng-model="cityAutocompleteTextField"
                   uib-typeahead="city as city.zip + ' ' + city.name for city in cities | filter:filterCities($viewValue) | orderBy:orderByLevenshteinDistance($viewValue)"
                   typeahead-on-select="selectCity($item, $label)"
                   typeahead-min-length="3"
                   typeahead-template-url="templates/city-suggestion.html"/>
          </span>
          <div class="alert alert-danger" ng-show="cityAutoCompleteError">
            <span class="help-block">Er was een probleem tijdens het ophalen van de steden</span>
          </div>
        </div>
        <div id="gemeente-gekozen" ng-show="selectedCity !== ''">
          <span class="btn-chosen" id="gemeente-gekozen-button" ng-bind="selectedCity"></span>
          <a href="" class="btn btn-default btn-link" ng-click="changeCitySelection()">Wijzigen</a>
        </div>
      </div>
    </div>

    <div id="waar-evenement" class="clearfix" ng-show="eventFormData.isEvent && selectedCity !== ''">
      <div class="row">
        <div class="col-xs-12">
          <label id="locatie-label" ng-show="!selectedLocation">
            Kies een locatie <i class="fa fa-circle-o-notch fa-spin" ng-show="loadingPlaces"></i>
          </label>
          <div id="locatie-kiezer" ng-hide="selectedLocation || loadingPlaces">
            <span style="position: relative; display: block; direction: ltr;" class="twitter-typeahead">
              <input type="text" ng-change="locationSearched()"
                     placeholder="Locatie"
                     class="form-control typeahead"
                     ng-model="locationAutocompleteTextField"
                     uib-typeahead="location.id as location.name for location in filteredLocations = (locationsForCity | filter:filterCityLocations($viewValue)) | orderBy:orderCityLocations($viewValue) | limitTo:50"
                     typeahead-on-select="selectLocation($item, $model, $label)"
                     typeahead-min-length="3"
                     typeahead-template-url="templates/place-suggestion.html"/>
              <div class="plaats-adres-resultaat dropdown-menu-no-results"
                   ng-show="(!cityHasLocations() || filteredLocations.length === 0) && locationsSearched">
                <div class="panel panel-default text-center">
                  <div class="panel-body">
                    <p>Locatie niet gevonden?</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#waar-locatie-toevoegen" ng-click="openPlaceModal()">
                      Een locatie toevoegen
                    </button>
                  </div>
                </div>
              </div>
            </span>
            <div class="alert alert-danger" ng-show="locationAutoCompleteError">
              <span class="help-block">Er was een probleem tijdens het ophalen van de locaties</span>
            </div>
          </div>

          <div id="locatie-gekozen" ng-show="selectedLocation" >
            <span ng-bind="selectedLocation.name"></span>
            <button type="button"
                    class="btn btn-default btn-link"
                    data-toggle="modal"
                    data-target="#waar-locatie-toevoegen"
                    ng-click="changeLocationSelection()">Wijzigen</button>
            <br>
            <span ng-bind="selectedLocation.address.streetAddress"></span>
          </div>

        </div>
      </div>
    </div>

    <div id="waar-plaats" class="clearfix" ng-show="eventFormData.isPlace && selectedCity !== ''">
      <div class="plaats-adres-ingeven" ng-hide="selectedLocation.address.streetAddress">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" ng-class="{'has-error' : showValidation && step3Form.street.$error.required }">
              <label>Straat en nummer</label>
              <input class="form-control"
                     id="straat"
                     name="street"
                     ng-model="placeStreetAddress"
                     placeholder=""
                     type="text"
                     required />
              <span class="help-block" ng-show="showValidation && step3Form.street.$error.required">
                Straat en nummer is een verplicht veld.
              </span>
            </div>
          </div>
        </div>
        <a class="btn btn-primary plaats-ok" ng-click="setStreetAddress()">OK</a>
      </div>

      <div class="plaats-adres-resultaat" ng-show="selectedLocation.address.streetAddress">
        <span>
          <span class="btn-chosen" ng-bind="selectedLocation.address.streetAddress"></span>
          <a class="btn btn-link plaats-adres-wijzigen" ng-click="changeStreetAddress()">Wijzigen</a>
        </span>
      </div>

    </div>

  </form>
</section>

</div>
