<div ng-controller="EventFormStep2Ctrl as EventFormStep2">
  <a name="wanneer"></a>
  <section id="wanneer" ng-show="eventFormData.showStep2">
    <h2 class="title-border">
      <span class="number">2</span>
      <span ng-show="eventFormData.isEvent">Wanneer vindt dit evenement of deze activiteit plaats?</span>
      <span ng-show="eventFormData.isPlace">Wanneer is deze plaats of locatie open?</span>
    </h2>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">

          <label class="wanneerkiezer-label">Maak een keuze</label>
          <div class="wanneerkiezer" ng-show="activeCalendarType === ''">
            <ul class="list-inline button-list">
              <li ng-repeat="calendarLabel in calendarLabels">
                <button class="btn btn-default" ng-bind="calendarLabel.label" ng-click="setCalendarType(calendarLabel.id)"></button>
              </li>
            </ul>
          </div>
          <div class="wanneer-chosen" ng-hide="activeCalendarType === ''">
            <span class="btn-chosen" ng-bind="activeCalendarLabel"></span><a class="btn btn-link wanneerrestore" href="#" ng-click="resetCalendar()">Wijzigen</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="activeCalendarType === 'single'">
      <udb-event-form-timestamp></udb-event-form-timestamp>
    </div>

    <div class="row" ng-show="activeCalendarType === 'periodic'">
      <udb-event-form-period></udb-event-form-period>
    </div>

    <div class="row" ng-show="activeCalendarType === 'permanent' || activeCalendarType === 'periodic'">
      <udb-event-form-opening-hours></udb-event-form-opening-hours>
    </div>

  </section>
</div>
