<a name="wanneer"></a>
<section id="waar" ng-show="showStep3">
  <h2 class="title-border">
    <span class="number">3</span>
    <span class="event-only">Waar vindt dit evenement of deze activiteit plaats?</span>
    <span class="place-only">Waar is deze plaats of locatie?</span>
  </h2>

  <div class="row">
    <div class="col-xs-12">
      <label id="gemeente-label" for="gemeente-autocomplete"> Kies een gemeente</label>
      <div id="gemeente-kiezer">
        <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
          <input type="text" class="form-control typeahead tt-hint" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none repeat scroll 0% 0% rgb(255, 255, 255);" readonly="" autocomplete="off" spellcheck="false" tabindex="-1">
        </span>
      </div>
    </div>
  </div>

  <div ng-bind="item.location.address.addressLocality;"></div>

  <a href="#" ng-click="showStep(4)">Volgende</a>
  <a href="#" ng-click="hideStep(3)">Vorige</a>

</section>
