<div class="modal-body">

    <div class="row">

      <div class="col-xs-12" ng-hide="hasEvents">
        <p>Ben je zeker dat je "{{item.details.name}}" wil verwijderen?</p>
      </div>
      
      <div class="col-xs-12" ng-show="hasEvents">
        <p>De locatie "{{item.details.name}}" kan niet verwijderd worden omdat er activiteiten gepland zijn.</p>
      </div>

    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="hasEvents" ng-click="cancelRemoval()">Sluiten</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-hide="hasEvents" ng-click="cancelRemoval()">Annuleren</button>
  <button type="button" class="btn btn-primary" ng-hide="hasEvents" ng-click="deletePlace()">Verwijderen <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i></button>
</div>