<div class="place-content">
  <div class="col-sm-5 rv-first-column">
    <div class="rv-item-sidebar">
      <div class="rv-selection-state" ng-class="{'disabled': resultViewer.querySelected}"
           ng-click="resultViewer.toggleSelectId(event.id)">
        <span class="fa" ng-class="resultViewer.isIdSelected(event.id) ? 'fa-check-square' : 'fa-square-o'"></span>
      </div>
    </div>

    <div class="udb-short-info">
      <span class="udb-category" ng-bind="event.type.label"></span>
      <span class="udb-short-info-seperator" ng-show="event.type && event.theme"> • </span>
      <span class="udb-theme" ng-bind="event.theme.label"></span>
    </div>
    <div class="udb-title">
      <a ng-href="{{ event.url }}" ng-bind="event.name"></a>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="udb-place-city" ng-bind="event.address.addressLocality"></div>
  </div>

  <div class="col-sm-2">
    <span>permanent</span>
  </div>

  <div class="col-sm-3 rv-specific-event-info">
    <div class="rv-event-info-input udb-organizer"
         ng-show="resultViewer.activeSpecific.id === 'input'">
      <div>
        <span class="fa fa-clock-o"></span>&nbsp;
        <span ng-bind="event.modified | date : 'dd/MM/yyyy • HH:mm'"></span>
      </div>
      <div class="udb-email">
        <span class="fa fa-user"></span>&nbsp;
        <span ng-bind="event.creator"></span>
      </div>
      <div class="udb-organizer-name">
        <span class="fa fa-building-o"></span>&nbsp;
        <span ng-bind="event.organizer ? event.organizer.name : '-'"></span>
      </div>
    </div>

    <div class="rv-event-info-price"
         ng-show="resultViewer.activeSpecific.id === 'price'" ng-switch="event.pricing">
      <span ng-switch-when="free">gratis</span>
      <span ng-switch-when="payed">
          <i class="fa fa-eur meta icon"></i><span ng-if="event.price" ng-bind="event.price | currency"></span>
      </span>
      <span ng-switch-when="unknown">niet ingevoerd</span>
    </div>
  </div>
</div>