<div class="row rv-result-viewer">
  <div class="col-sm-12 rv-search-results" ng-class="{loading: resultViewer.loading}">

      <div class="rv-controls" ng-show="resultViewer.totalItems">
          <div class="row">
              <div class="col-xs-12">
                  <ul class="nav nav-pills" role="tablist">
                      <li udb-save-search ng-show="activeQuery.queryString"
                              udb-query-string="activeQuery.queryString">
                      </li>
                      <li>
                          <p class="rv-item-counter">
                              <ng-pluralize count="resultViewer.totalItems"
                                            when="{'1': '1 resultaat',
                                                    'other': '{} resultaten'}">
                              </ng-pluralize>
                          </p>
                      </li>
                      <li>
                          <label for="rv-event-{{propertyKey}}" class="rv-control-toggle"
                                 ng-class="{active: resultViewer.eventProperties[propertyKey].visible}"
                                 ng-repeat="propertyKey in ['description', 'labels', 'image']">
                              <input type="checkbox" id="rv-event-{{propertyKey}}"
                                     ng-model="resultViewer.eventProperties[propertyKey].visible"/>
                              <span ng-bind="resultViewer.eventProperties[propertyKey].name"></span>
                          </label>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

    <p class="rv-no-result-notice" ng-show="!resultViewer.loading && resultViewer.totalItems === 0" ng-cloak>
        Geen evenementen gevonden, probeer een andere zoekopdracht.
    </p>

    <div ng-show="resultViewer.totalItems">
        <div class="rv-item-info">

            <div class="row" ng-hide="resultViewer.selectedIds.length">
                <div class="col-sm-5 rv-first-column">
                    Wat
                </div>
                <div class="col-sm-2">  Waar   </div>
                <div class="col-sm-2">  Wanneer   </div>
                <div class="col-sm-3">
                    <div role="presentation" class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="selectedField" ng-bind="resultViewer.activeSpecific.name"></span> <span class="caret"></span>
                        </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="rv-event-specific">
                            <li role="presentation" ng-repeat="specific in resultViewer.eventSpecifics">
                                <a role="menuitem" tabindex="-1" href="#" ng-bind="specific.name"
                                   ng-click="resultViewer.activateSpecific(specific)"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="resultViewer.selectedIds.length">
                <div class="col-sm-12 rv-first-column">
                    <ng-pluralize count="resultViewer.querySelected ? resultViewer.totalItems : resultViewer.selectedIds.length"
                                  when="{'1': '1 item geselecteerd',
                                         'other': '{} items geselecteerd'}">
                    </ng-pluralize>

                    <button class="btn btn-default rv-action" ng-click="label()">
                        <i class="fa fa-tag"></i> Labelen
                    </button>
                    <button class="btn btn-default rv-action" ng-click="exportEvents()">
                        <i class="fa fa-cloud-download"></i> Exporteren
                    </button>
                    <a href="#" class="alert-link rv-action" ng-click="resultViewer.deselectAll()">Deselecteren</a>
                </div>
            </div>

            <div class="rv-item-sidebar">
                <div class="rv-selection-state">
                    <span class="dropdown" uib-dropdown ng-hide="resultViewer.selectedIds.length">
                      <span class="dropdown-toggle fa {{resultViewer.selectionState.icon}}" uib-dropdown-toggle>
                      </span>
                      <ul class="dropdown-menu">
                          <li role="presentation" class="dropdown-header">Selecteer</li>
                          <li ng-click="resultViewer.toggleSelection()">
                              <a href>Alles op deze pagina <ng-pluralize count="resultViewer.events.length" when="{'0': '(0 items)','one': '(1 item)','other': '({} items)'}"></ng-pluralize></a>
                          </li>
                          <li ng-click="resultViewer.selectQuery()">
                              <a href>Alle resultaten <ng-pluralize count="resultViewer.totalItems" when="{'0': '(0 items)','one': '(1 item)','other': '({} items)'}"></ng-pluralize></a>
                          </li>
                      </ul>
                    </span>

                    <span ng-show="resultViewer.selectedIds.length" ng-click="resultViewer.toggleSelection()"
                          class=" fa {{resultViewer.selectionState.icon}}"></span>
                </div>
            </div>
        </div>

      <udb-event class="row rv-item" ng-repeat="event in resultViewer.events" ng-hide="eventCtrl.fetching"
                 ng-class="{selected: resultViewer.isIdSelected(event.id)}">
      </udb-event>

      <uib-pagination total-items="resultViewer.totalItems" ng-model="currentPage" items-per-page="resultViewer.pageSize"
                  ng-show="resultViewer.totalItems > 0" max-size="10" ng-change="pageChanged()"></uib-pagination>

    <div class="col-sm-12" ng-show="realQuery">
        <span class="help-block">
          uitgevoerde query: <strong>{{realQuery}}</strong>
        </span>
    </div>
    </div>
  </div>
    <div class="rv-loading-overlay" ng-show="resultViewer.loading">
        <i class="fa fa-circle-o-notch fa-spin"></i> Zoeken…
    </div>
</div>
