.udb-query-editor {
  padding-top: 24px;
}

.OR.qe-field:before {
  color: #ccc;
  font-size: 11px;
  font-weight: bold;
  margin: -10px 0 4px 45px;
  text-transform: uppercase;
  clear: both;
  display: block;
  text-indent: -30px;
  content: "OR";
}

.AND.qe-field:before {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #aaa;
  content: "AND";
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 0;
  margin: 12px 0 24px 45px;
  padding-right: 6px;
  text-indent: -30px;
  text-transform: uppercase;
}