.saved-search-query .CodeMirror {
  border: 1px solid @udb-gray;
  height: auto;
  padding: 11px;
}

.saved-search-title-column {
  width: 15%;
}

.save-search-modal {
  /* Modal buttons */
  .btn {
    &.fa:before {
      margin-right: 10px;
    }
  }

  /* Modal alert */
  .alert {
    margin-top: 10px;
  }
}

.table td.saved-search-query + td {
  vertical-align: middle;
}

/* Tablist */
.nav-pills > li[udb-save-search] {
  width: 100%;
}
