// Colors
@white: #fff;
@udb-gray: #ccc;
@udb-gray-light: #ddd; // same as bootstrap panels border

// Nav
@nav-link-hover-bg: @udb-gray-light;

// Specific varables
@job-log-width: 320px;
@rv-item-info-padding: 0.5em;
