<div class="col-xs-12" ng-hide="hasOpeningHours">
  <a href="#" class="btn btn-link btn-plus wanneer-openingsuren-link" data-toggle="modal" data-target="#wanneer-openingsuren-toevoegen">Openingsuren toevoegen</a>
</div>

<div class="col-xs-12 col-sm-4" ng-show="hasOpeningHours">
  <section class="wanneer-openingsuren-resultaat">
    <table class="table table-condensed ">
      <thead>
      <th>Openingsuren</th>
      <th><a href="#" data-toggle="modal" data-target="#wanneer-openingsuren-toevoegen" class="btn btn-default">Wijzigen</a></th>
      </thead>
      <tbody>
        <tr ng-repeat="openingHour in eventFormData.openingHours">
          <td>{{ openingHour.label }}</td>
          <td>{{ openingHour.opens }} – {{ openingHour.closes }}</td>
         </tr>
      </tbody>
    </table>
  </section>

</div>

<div class="modal fade" id="wanneer-openingsuren-toevoegen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Openingsuren</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th> Dag(en)
              </th>
              <th> Van
              </th>
              <th>
              </th>
              <th> Tot
              </th>
              <th>
              </th>
            </tr>
          </thead>

          <tr ng-repeat="(i, openingHour) in eventFormData.openingHours">
            <td>
              <select class="selectpicker" multiple udb-multiselect start-label="Kies dag(en)" ng-model="openingHour.daysOfWeek" ng-change="saveOpeninghHourDaySelection(i, openingHour.daysOfWeek)">
                <option value="monday">maandag</option>
                <option value="tuesday">dinsdag</option>
                <option value="wednesday">woensdag</option>
                <option value="thursday">donderdag</option>
                <option value="friday">vrijdag</option>
                <option value="saturday">zaterdag</option>
                <option value="sunday">zondag</option>
              </select>
            </td>
            <td>
              <udb-time-autocomplete ng-model="openingHour.opens" css-class="form-control" input-placeholder=""></udb-time-autocomplete>
            </td>
            <td>
              &nbsp;-&nbsp;
            </td>
            <td>
              <udb-time-autocomplete ng-model="openingHour.closes" css-class="form-control" input-placeholder=""></udb-time-autocomplete>
            </td>
            <td>
              <button type="button" class="close" aria-label="Close" ng-click="eventFormData.removeOpeningHour(i)"><span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        </table>
        <a class="btn btn-link btn-plus" ng-click="eventFormData.addOpeningHour('', '' , '')">Meer openingstijden toevoegen</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn btn-primary openingsuren-toevoegen" data-dismiss="modal" ng-click="hasOpeningHours = true">Toevoegen</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->