<div class="container-fluid">
    <h1>Mijn zoekopdrachten</h1>

    <table class="table">
        <tr>
            <th class="saved-search-title-column">
                <strong>Titel</strong>
            </th>
            <th>
                Query
            </th>
            <td>
            </td>
        </tr>


        <tr ng-repeat="savedSearch in savedSearches">
            <td>
                <p>
                  <i class="fa fa-bookmark"></i>
                  <span ng-bind="::savedSearch.name"></span></p>
                <p><a ng-href="/search?query={{::savedSearch.query}}" class="small">Resultaten bekijken</a></p>
            </td>
            <td class="saved-search-query">
                <textarea ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="::savedSearch.query" class="query form-control" rows="3"
                          ui-codemirror-opts="editorOptions"></textarea>
            </td>
            <td>
                <a class="btn btn-default">Verwijderen</a>
            </td>
        </tr>

    </table>
</div>
