<form class="navbar-form navbar-left udb-header-search" role="search"
      ng-class="{'has-errors': sb.hasErrors, 'is-editing': sb.isEditing}">
  <div class="form-group has-warning has-feedback">
    <input type="text" class="form-control" ng-model="sb.query">
    <i ng-show="sb.hasErrors" class="fa fa-warning warning-icon" tooltip-append-to-body="true"
       tooltip-placement="bottom" tooltip="{{sb.errors}}"></i>
  </div>
  <button type="submit" class="btn udb-search-button" ng-click="sb.search()">
    <i class="fa fa-search"></i>
  </button>
</form>
<a href data-toggle="modal" data-target="#myModal" ng-click="sb.editQuery()" class="advanced-search" ng-class="{'is-editing': sb.isEditing}">Geavanceerd</a>
