
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" ng-hide="organizersFound">Nieuwe organisator toevoegen</h4>
  <h4 class="modal-title" ng-show="organizersFound">Vermijd dubbel werk</h4>
</div>
<div class="modal-body">

  <section ng-hide="organizersFound">
    <form name="organizerForm" class="css-form">
      <div class="form-group" ng-class="{'has-error' : showValidation && organizerForm.name.$error.required }">
        <label>Naam</label>
        <input type="text" name="name" class="form-control" ng-model="newOrganizer.name" required>
        <p class="help-block">De officiële publieke naam van de organisatie.</p>
        <span class="help-block" ng-show="showValidation && organizerForm.name.$error.required">
          Gelieve een naam in te vullen
        </span>
      </div>

      <div class="row">

        <div class="col-xs-12">
          <div class="form-group">
            <label>Straat en nummer</label>
            <input type="text" class="form-control" name="street" ng-model="newOrganizer.address.streetAddress">
          </div>
        </div>

      </div>

      <div class="row">
         <div class="col-xs-12">
          <label for="organizer-gemeente-autocomplete" id="gemeente-label" ng-hide="selectedCity !== ''">
            Kies een gemeente
          </label>
          <div id="gemeente-kiezer" ng-hide="selectedCity !== ''">
            <span style="position: relative; display: inline-block; direction: ltr;" class="twitter-typeahead">
              <input id="organizer-gemeente-autocomplete"
                     type="text"
                     class="form-control uib-typeahead"
                     placeholder="Gemeente of postcode"
                     ng-model="cityAutocompleteTextField"
                     uib-typeahead="city as city.zip + ' ' + city.name for city in cities | filter:filterCities($viewValue) | orderBy:orderByLevenshteinDistance($viewValue)"
                     typeahead-on-select="selectCity($item, $label)"
                     typeahead-min-length="3"
                     typeahead-template-url="templates/city-suggestion.html">
            </span>
            <div class="alert alert-danger" ng-show="cityAutoCompleteError">
              <span class="help-block">Er was een probleem tijdens het ophalen van de steden</span>
            </div>
          </div>
          <div id="gemeente-gekozen" ng-if="selectedCity">
            <span class="btn-chosen" id="gemeente-gekozen-button" ng-bind="::selectedCity"></span>
            <a href="" class="btn btn-default btn-link" ng-click="changeCitySelection()">Wijzigen</a>
          </div>
        </div>
      </div>

      <h2>Contact</h2>

      <div ng-show="newOrganizer.contact.length === 0">
        <ul class="list-unstyled">
          <li><a ng-click="addOrganizerContactInfo('url')">Website toevoegen</a></li>
          <li><a ng-click="addOrganizerContactInfo('phone')">Telefoonnummer toevoegen</a></li>
          <li><a ng-click="addOrganizerContactInfo('email')">E-mailadres toevoegen</a></li>
        </ul>
      </div>

      <table class="table" ng-show="newOrganizer.contact.length">
        <tr ng-repeat="(key, info) in newOrganizer.contact"
            ng-model="info"
            udb-contact-info-validation
            ng-class="{'has-error' : infoErrorMessage !== '' }">
          <td>
            <select class="form-control" ng-model="info.type" ng-change="clearInfo();">
              <option value="url">Website</option>
              <option value="phone">Telefoonnummer</option>
              <option value="email">E-mailadres</option>
            </select>
          </td>
          <td>
            <input type="text"
                   class="form-control"
                   ng-model="info.value"
                   name="contact[{{key}}]"
                   ng-change="validateInfo(key)"
                   ng-model-options="{ updateOn: 'blur' }"/>
            <span class="help-block" ng-if="infoErrorMessage" ng-bind="::infoErrorMessage"></span>
          </td>
          <td>
            <button type="button" class="close" aria-label="Close" ng-click="deleteOrganizerContactInfo(key)">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
        <tr><td colspan="3"><a ng-click="addOrganizerContactInfo('url')">Meer contactgegevens toevoegen</a></td></tr>
      </table>
    </form>
  </section>

  <section ng-show="organizersFound">

    <div class="alert alert-info">
      <p>
        Ben je zeker dat je "<span ng-bind="newOrganizer.name"></span>" wil toevoegen als organisator? Dubbele invoer
         van organisaties is niet toegelaten.
      </p>
    </div>
    <p>We vonden deze gelijkaardige items:</p>
    <table class="table">
      <tr ng-repeat="organizer in organizers" udb-organizer="organizer">
        <td colspan="2" ng-show="fetching">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </td>
        <td ng-hide="fetching">
          <strong ng-bind="::organizer.name"></strong>
          , <span ng-bind="::organizer.addresses[0].streetAddress"></span>
          , <span ng-bind="::organizer.addresses[0].postalCode"></span>
           <span ng-bind="::organizer.addresses[0].addressLocality"></span>
        </td>
        <td ng-hide="fetching"><a class="btn btn-default" ng-click="selectOrganizer(organizer)">Selecteren</a></td>
      </tr>
      <tr>
        <td>
          Jij voerde in:
          <br/>
          <strong ng-bind="newOrganizer.name"></strong>
          , <span ng-bind="newOrganizer.street"></span>
           <span ng-bind="newOrganizer.number"></span>
           <span ng-bind="newOrganizer.postalCode"></span>
           <span ng-bind="newOrganizer.city"></span>
        </td>
        <td><a class="btn btn-default" ng-click="saveOrganizer()">Toch invoeren</a></td>
      </tr>
    </table>

  </section>

  <div class="alert alert-danger" ng-show="error">
    Er ging iets fout tijdens het opslaan van je organisatie.
  </div>

</div>
<div class="modal-footer" ng-hide="organizersFound">
  <button type="button" class="btn btn-default" ng-click="cancel()">Sluiten</button>
  <button type="button" class="btn btn-primary organisator-toevoegen-bewaren" ng-click="validateNewOrganizer()">
    Bewaren <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i>
  </button>
</div>
