<div class="udb-job-log" ng-class="{'shown': showJobLog}">
  <div class="row">
    <div class="col-sm-12">
      <div class="udb-job-block udb-job-block-ready">
        <p class="udb-job-title">Geëxporteerde documenten</p>
        <ul class="list-unstyled udb-job-messages">
          <li class="alert repeat-animation" ng-repeat="job in getFinishedExportJobs()">
            <udb-job></udb-job>
            <a ng-click="hideJob(job)">Hide Me</a>
          </li>
        </ul>
      </div>

      <div class="udb-job-block udb-job-block-errors">
        <p class="udb-job-title">Meldingen <span class="badge" ng-bind="getFailedJobs().length"></span></p>
        <ul class="list-unstyled udb-job-messages">
          <li class="alert repeat-animation" ng-repeat="job in getFailedJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>

      <div class="udb-job-block udb-job-block-pending">
        <p class="udb-job-title">Bezig</p>
        <ul class="list-unstyled udb-job-messages">
          <li class="alert repeat-animation" ng-repeat="job in getQueuedJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>