<div id="wanneer-periode" class="row">
  <div class="col-xs-12 col-sm-4">
    <section class="add-date">
      <div class="form-group">
        <p class="module-title">Vanaf</p>
        <div ng-if="eventFormData.startDate" udb-datepicker highlight-date="2015-8-12" ng-change="setMajorInfoChanged()" ng-model="eventFormData.startDate" data-date="{{ eventFormData.startDate|date:'dd/MM/yyyy' }}"></div>
        <div ng-if="!eventFormData.startDate" udb-datepicker highlight-date="2015-8-12" ng-change="setMajorInfoChanged()" ng-model="eventFormData.startDate"></div>
      </div>
    </section>
  </div>

  <div class="col-xs-12 col-sm-4">
    <section class="add-date">
      <div class="form-group">
        <p class="module-title">Tot en met</p>
        <div ng-if="eventFormData.endDate" udb-datepicker highlight-date="2015-8-12" ng-change="setMajorInfoChanged()" ng-model="eventFormData.endDate" data-date="{{ eventFormData.endDate|date:'dd/MM/yyyy' }}"></div>
        <div ng-if="!eventFormData.endDate" udb-datepicker highlight-date="2015-8-12" ng-change="setMajorInfoChanged()" ng-model="eventFormData.endDate"></div>
      </div>
    </section>
  </div>

</div>