<div id="wanneer-dagen" ng-repeat="timestamp in eventFormData.timestamps">

  <div class="col-xs-12 col-sm-4 prototype-step" id="add-date-form">
    <section class="add-date">

      <div udb-datepicker
           ng-if="timestamp.date"
           ng-change="eventTimingChanged()"
           highlight-date="2015-8-12"
           ng-model="timestamp.date"
           data-date="{{ timestamp.date|date:'dd/MM/yyyy' }}"></div>
      <div udb-datepicker
           ng-if="!timestamp.date"
           ng-change="eventTimingChanged()"
           highlight-date="2015-8-12"
           ng-model="timestamp.date"></div>

      <div class="row">
        <div class="col-xs-6">
          <label>
            <input type="checkbox"
                   value=""
                   ng-change="toggleStartHour(timestamp)"
                   ng-model="timestamp.showStartHour"
                   class="beginuur-toevoegen">
            Beginuur
          </label>
          <div class="beginuur-invullen" ng-show="timestamp.showStartHour">
            <input
                udb-time-autocomplete
                ng-model="timestamp.startHour"
                class="form-control uur"
                uib-typeahead="time for time in ::times | filter:$viewValue | limitTo:8"
                typeahead-on-select="EventFormStep2.eventTimingChanged()"
                typeahead-editable="false"
                placeholder="Bv. 08:00">
          </div>
        </div>
        <div class="col-xs-6 einduur" ng-show="timestamp.showStartHour">
          <label>
            <input type="checkbox"
                   ng-change="toggleEndHour(timestamp)"
                   value=""
                   ng-model="timestamp.showEndHour"
                   class="einduur-toevoegen">
            Einduur
          </label>
          <div class="einduur-invullen" ng-show="timestamp.showEndHour">
            <input
                udb-time-autocomplete
                ng-model="timestamp.endHour"
                class="form-control uur"
                uib-typeahead="time for time in ::times | filter:$viewValue | limitTo:8"
                typeahead-on-select="EventFormStep2.eventTimingChanged()"
                typeahead-editable="false"
                placeholder="Bv. 23:00">
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<div class="col-xs-12 col-sm-4">
  <div class="add-date">
    <a href="#" class="add-date-link" ng-click="addTimestamp()">
      <p id="add-date-plus">+</p>
      <p id="add-date-label">Dag toevoegen</p>
    </a>
  </div>
</div>