<div id="wanneer-periode" class="row">
  <div class="col-xs-12 col-sm-4">
    <section class="add-date">
      <div class="form-group">
        <p class="module-title">Vanaf</p>
        <div udb-datepicker
             highlight-date="2015-8-12"
             ng-change="EventFormStep2.periodicEventTimingChanged()"
             ng-model="eventFormData.startDate"></div>
      </div>
    </section>
  </div>

  <div class="col-xs-12 col-sm-4">
    <section class="add-date">
      <div class="form-group">
        <p class="module-title">Tot en met</p>
        <div udb-datepicker
             highlight-date="2015-8-12"
             ng-change="EventFormStep2.periodicEventTimingChanged()"
             ng-model="eventFormData.endDate"></div>
      </div>
    </section>
  </div>

  <div class="col-xs-12">
    <div ng-show="EventFormStep2.periodicRangeError" class="alert alert-warning" role="alert">
      Selecteer een geldige start en eind datum datum.
    </div>
  </div>
</div>