<div id="wanneer-dagen" ng-repeat="timestamp in eventFormData.timestamps">

  <div class="col-xs-12 col-sm-4 prototype-step" id="add-date-form">
    <section class="add-date">

      <div udb-datepicker ng-if="timestamp.date" ng-change="setMajorInfoChanged()" highlight-date="2015-8-12" ng-model="timestamp.date" data-date="{{ timestamp.date|date:'dd/MM/yyyy' }}"></div>
      <div udb-datepicker ng-if="!timestamp.date" ng-change="setMajorInfoChanged()" highlight-date="2015-8-12" ng-model="timestamp.date"></div>

      <div class="row">
        <div class="col-xs-6">
          <label>
            <input type="checkbox" value="" ng-change="setMajorInfoChanged()" ng-model="timestamp.showStartHour" class="beginuur-toevoegen" ng-click="toggleStartHour(timestamp)">
            Beginuur
          </label>
          <div class="beginuur-invullen" ng-show="timestamp.showStartHour">
            <udb-time-autocomplete ng-model="timestamp.startHour" ng-change="setMajorInfoChanged()" css-class="form-control uur" input-placeholder="Bv. 08:00"></udb-time-autocomplete>
          </div>
        </div>
        <div class="col-xs-6 einduur" ng-show="timestamp.showStartHour">
          <label>
            <input type="checkbox" ng-change="setMajorInfoChanged()" value="" ng-model="timestamp.showEndHour" class="einduur-toevoegen" ng-click="toggleEndHour(timestamp)">
            Einduur
          </label>
          <div class="einduur-invullen" ng-show="timestamp.showEndHour">
            <udb-time-autocomplete ng-change="setMajorInfoChanged()" ng-model="timestamp.endHour" css-class="form-control uur" input-placeholder="Bv. 23:00"></udb-time-autocomplete>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<div class="col-xs-12 col-sm-4">
  <div class="add-date">
    <a href="#" class="add-date-link" ng-click="addTimestamp()">
      <p id="add-date-plus">+</p>
      <p id="add-date-label">Dag toevoegen</p>
    </a>
  </div>
</div>