<div class="modal-header">
  <h4 class="modal-title">Nieuwe locatie toevoegen</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Titel</label>
    <input class="form-control" type="text" ng-model="newPlace.name" required>
    <span ng-show="titleRequired">Titel is een verplicht veld.</span>
  </div>

  <div class="form-group">
    <label>Categorie</label>
    <select class="form-control" size="4" id="locatie-toevoegen-types" ng-model="newPlace.eventType" required>
      <option ng-repeat="category in categories" value="{{ category.id }}">{{ category.label }}</option>
    </select>
    <span ng-show="categoryRequired">Categorie is een verplicht veld.</span>
  </div>

  <div class="row">

    <div class="col-xs-9">
      <div class="form-group">
        <label>Straat</label>
        <input class="form-control" id="locatie-straat" placeholder="Straat" type="text" ng-model="newPlace.address.streetAddress" required>
        <span ng-show="streetRequired">Straat is een verplicht veld.</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label>Nummer</label>
        <input class="form-control" id="locatie-nummer" placeholder="Nummer" type="text" ng-model="newPlace.address.locationNumber" required>
        <span ng-show="numberRequired">Nummer is een verplicht veld.</span>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label>Gemeente</label>
        <p id="waar-locatie-toevoegen-gemeente" ng-bind="newPlace.address.addressLocality"></p>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetAddLocation()">Annuleren</button>
  <button type="button" class="btn btn-primary" ng-click="addLocation()">Toevoegen</button>
</div>