<div class="modal-header">
  <h4 class="modal-title">Nieuwe locatie toevoegen</h4>
</div>
<div class="modal-body">
  <form name="placeForm" class="css-form">
    <div class="form-group" ng-class="{'has-error' : modalCtrl.showValidation && placeForm.name.$error.required }">
      <label>Titel</label>
      <input class="form-control" type="text" ng-model="modalCtrl.newPlace.name" name="name" required>
      <span class="help-block" ng-show="modalCtrl.showValidation && placeForm.name.$error.required">Titel is een verplicht veld.</span>
    </div>

    <div class="form-group" ng-class="{'has-error' : modalCtrl.showValidation && placeForm.eventType.$error.required }">
      <label>Categorie</label>
      <select class="form-control" size="4" name="eventType" id="locatie-toevoegen-types" ng-model="modalCtrl.newPlace.eventType" required>
        <option ng-repeat="category in modalCtrl.categories" value="{{ category.id }}">{{ category.label }}</option>
      </select>
      <span class="help-block" ng-show="modalCtrl.showValidation && placeForm.eventType.$error.required">Categorie is een verplicht veld.</span>
    </div>

    <div class="row">

      <div class="col-xs-12">
        <div class="form-group" ng-class="{'has-error' : modalCtrl.showValidation && placeForm.address_streetAddress.$error.required }">
          <label>Straat en nummer</label>
          <input class="form-control" id="locatie-straat" placeholder="Straat en nummer" name="address_streetAddress" type="text" ng-model="modalCtrl.newPlace.address.streetAddress" required>
          <span class="help-block" ng-show="modalCtrl.showValidation && placeForm.address_streetAddress.$error.required">Straat is een verplicht veld.</span>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label>Gemeente</label>
          <p id="waar-locatie-toevoegen-gemeente" ng-bind="modalCtrl.newPlace.address.addressLocality"></p>
        </div>

        <div class="alert alert-danger" ng-show="error">
          Er ging iets fout tijdens het opslaan van je locatie.
        </div>

      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="modalCtrl.cancel()">Annuleren</button>
  <button type="button" class="btn btn-primary" ng-click="modalCtrl.addLocation()">Toevoegen <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i></button>
</div>